<!-- <h1>{{title}}</h1>
<input type="text" [(ngModel)]="topic">
<h3>{{topic}}</h3> -->

<!-- 
<h1>
  {{title}}
</h1>

<button type="button" routerLink="/customers">Customers</button>
<button type="button" routerLink="/orders">Orders</button>
<button type="button" routerLink="">Home</button>

<router-outlet></router-outlet> -->

<!-- <h1>This is parent component</h1> -->
<!-- <app-child [hero]="data"></app-child> -->

<h1>Custom Directive in Angular</h1>
<!-- <h2 appCustom1> Custom Heading</h2> -->
<h1>{{title}}</h1>
<ul>
  <li *ngFor="let i of user">  {{i.name}}</li>
 
</ul>
<!-- <app-template-form></app-template-form> -->

<!-- <app-reactive-form></app-reactive-form> -->
<!-- <app-footer></app-footer> -->

<app-parent></app-parent>