<!-- <p>template-form works!</p> -->

<!-- Template Driven Form -->
<!-- <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)">
    <input type="text" #name="ngModel" pattern="[a-zA-Z]+$" required placeholder="name" name="n" ngModel> 
    <span *ngIf="name.invalid && name.touched" style="color:red">Please enter a valid input</span><br>

    <input type="password" #pw="ngModel" required minlength="2" placeholder="password" name="c" ngModel><br>
    <span *ngIf="pw.invalid && pw.touched" style="color:red">Please enter a valid input</span><br>

<button [disabled]="loginForm.invalid">Submit</button>
</form> -->